<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>search box</title>
<!--	<link rel="stylesheet" href="styles.css">-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
<style>
	@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}


body{
	background: url('https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/25-best-hd-wallpapers-laptops159561982840438.jpg')
	background-size: cover;
	width: 100%;
	height: 100vh;
}

</style>
<div class="container my-3">
	<form method="post" action="" >
		{% csrf_token %}
		<div class="wrapper">
		<input type="text" class="input" id="name" name='name' placeholder="What are you looking for?">
	<input type='hidden' value='click_button' name='form_type'/>
			<button type=""submit" class="btn btn-success"><i> Submit</i></button>


	</form>
</div>
<div class="lol">
	{% for n in name %}
	<a href="D:/samplefiles/{{n}}" > <li> {{n}} </li>
	</a>
	<!--<a href="D:/samplefiles/Airline Delay Predictions_Piyush kumar Dhir.pptx" target="_blank"> okay </a> -->
	{% endfor %}
</div>

</body>
</html>